{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% block title %}{% endblock %}

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inventory">
    <meta name="author" content="Adetifa Oluwole Emmanuel">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style-indigo.css" %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/ionicons.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/swiper.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vegas.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">


    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%7CRoboto:400,300,100,500,700,900'
          rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="mul-T-lock-icon" href="{% static "images/favicon.png" %}">
    <link rel="mul-T-lock-icon" sizes="48x48" href={% static "images/favicon-48x48.png" %}>
    <link rel="mul-T-lock-icon" sizes="114x114" href="{% static "images/favicon.png" %}">

     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>
<body class="smooth-scroller">


<div id="preloader">
    <div id="loading-animation"></div>
</div>

<div class="main-container">

    <div id="top"></div>


    {% block content %}{% endblock %}

    <a class="backToTop scrollto" href="#"><i class="fa fa-angle-up"></i></a>

</div>

<!-- JS -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}
</body>
</html>