<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inventory">
    <meta name="author" content="Adetifa Oluwole Emmanuel">

        <title>Inventory |{% block title %} Dashboard{% endblock %}</title>

		
		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
		<link rel="stylesheet" href="css/animate.min.css" type="text/css">
		<link rel="stylesheet" href="css/flexslider.css" type="text/css">
		<link rel="stylesheet" href="css/swiper.min.css" type="text/css">
		<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
		<link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
		<link rel="stylesheet" href="css/select2.min.css">
		<link rel="stylesheet" href="css/vegas.min.css">

		<link rel="stylesheet" href="css/custom.css">
			
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		
		<!--[if lt IE 11]>
			<link rel="stylesheet" type="text/css" href="css/ie.css">
		<![endif]-->
		
		<!-- FONTS -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic%7CRoboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
		
		<!-- JS -->
		<script type="text/javascript" src="js/modernizr.js"></script>
		
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="mul-T-lock-icon" href="images/favicon.png">
		<link rel="mul-T-lock-icon" sizes="48x48" href="images/favicon-48x48.png">
		<link rel="mul-T-lock-icon" sizes="114x114" href="images/favicon.png">
</head>
<body >
        <header class="main-header style-1 transparent" style="background-image: url('demo/images/shortcodes.jpg');">
            <div class="header-wrapper">
            
                <nav class="header-nav light">
                    <div class="nav-wrapper">				
                        <div class="container-fluid">
                        
                            <div class="nav-block left block-widgets">
                                <button type="button" class="nav-toggle">
                                    <i class="ion-navicon"></i>
                                </button>
                                <div class="header-logo">
                                    <a href="index.html">
                                        <h2 style="color: aliceblue;">GATEKEEPER</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                
            </div>
        </header>
    
</body>
</html>