{% load static %}

<header class="main-header style-1 transparent" style="background-image: url('{% static "demo/images/shortcodes.jpg" %}');">
    <div class="header-wrapper">

        <nav class="header-nav light">
            <div class="nav-wrapper">
                <div class="container-fluid">

                    <div class="nav-block left block-widgets">
                        <button type="button" class="nav-toggle">
                            <i class="ion-navicon"></i>
                        </button>
                        <div class="header-logo">
                            <a href="{% url "website.index" %}">
                                <h2 style="color: aliceblue;">MUL-T-LOCK</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>