{% extends 'layout/base.html' %}
{% load static %}


{% block content %}
    <section class="section pb-70">
        <div class="container">

            <div class="row">

                <div class="col-md-6 col-md-offset-3 mb-55">

                    <div class="pb-50">
                        <h4 class="heading-uppercase text-center">Add event</h4>
                    </div>

                    <form id="" method="post" action="{% url "website.add_event" %}">
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" name="Username" placeholder="example: lewole"
                                   id="Username">
                        </div>
                        <hr>

                        <div class="col-md-12">
                            <h5 class="heading-uppercase text-center">Task</h5>
                        </div>
                        <div class="form-group">
                            <label for="task_name">Task name</label>
                            <input type="text" class="form-control" name="task_name" placeholder="Task name"
                                   id="task_name">
                        </div>
                        <div class="form-group">
                            <label for="Deadline">Deadline</label>
                            <input type="date" class="form-control" name="Deadline" placeholder="24-03-2021"
                                   id="Deadline">
                        </div>
                        <div class="form-group">
                            <label for="User">User assigned</label>
                            <input type="text" class="form-control" name="User" placeholder="example: Mr umoru"
                                   id="User">
                        </div>
                        <hr>

                        <div class="col-md-12">
                            <h5 class="heading-uppercase text-center">Item</h5>
                        </div>

                        <div class="form-group">
                            <label for="item_name">Item name</label>
                            <input type="text" class="form-control" name="item_name" placeholder="Item name"
                                   id="item_name">
                        </div>
                        <div class="form-group">
                            <label for="item-quantity">Quantity</label>
                            <input type="number" min="0" class="form-control" name="item-quantity" placeholder="0"
                                   id="item-quantity">
                        </div>
                        <div class="form-group">
                            <label for="Unit_type">Unit type</label>
                            <input type="text" class="form-control" name="Unit_type" placeholder="example: meters"
                                   id="Unit_type">
                        </div>
                        <button type="submit" class="btn btn-noradius m-0">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </section>
{% endblock %}