{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
    <title>Events</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    {% include 'layout/header.html' %}
    <section class="section">
        <div class="container">

            <h4 class="heading-uppercase text-center mb-50">Event</h4>
            <div class="row mb-80">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date added</th>
                            <th>Creator</th>
                            <th>Task</th>
                            <th>Item</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>1</th>
                            <td>24/04/2021</td>
                            <td>le.wole</td>
                            <td>
                                <details>
                                    <summary style="color: brown;">
                                        <strong>Install camera</strong>
                                    </summary>
                                    <table>
                                        <tr>
                                            <th>
                                                Deadline:
                                            </th>
                                            <td>
                                                26/04/2021
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Assigned to:
                                            </th>
                                            <td>
                                                Mr Umoru
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Status:
                                            </th>
                                            <td>
                                                Completed
                                            </td>
                                        </tr>
                                    </table>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary style="color: brown;">
                                        <strong>Cable</strong>
                                    </summary>
                                    <table>
                                        <tr>
                                            <th>
                                                Quantity:
                                            </th>
                                            <td>
                                                200
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Unit type:
                                            </th>
                                            <td>
                                                meters
                                            </td>
                                        </tr>
                                    </table>
                                </details>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <button type="button" class="btn-primary btn-lg col-md-2 col-md-offset-2 btn-rounded" data-bs-toggle="modal" data-bs-target="#myModal">
                    Add new Event
                </button>
            </div>
        </div>

    </section>


    <section class="section pb-70 modal" id="myModal">
        <div class="container ">

            <div class="row modal-dialog">

                <div class="col-md-6 col-md-offset-3 mb-55 modal-content">

                    <div class="pb-50 modal-header">
                        <h4 class="heading-uppercase text-center">Add event</h4>
                    </div>

                    <form method="post" action="{% url "website:website.event" %}" class="modal-body">
                        {% csrf_token %}
{#                        <div class="form-group">#}
{#                            <label for="Name">Creator</label>#}
{#                            <input type="text" class="form-control" name="Name" placeholder="example: lewole"#}
{#                                   id="Name">#}
{#                        </div>#}
                        <hr>

                        <div class="col-md-12">
                            <h5 class="heading-uppercase text-center">Task</h5>
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="task_name">Task name</label>#}
{#                            <input type="text" class="form-control" name="task_name" placeholder="Task name"#}
{#                                   id="task_name">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="Deadline">Deadline</label>#}
{#                            <input type="date" class="form-control" name="Deadline" placeholder="24-03-2021"#}
{#                                   id="Deadline">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="User">Assigned to</label>#}
{#                            <input type="text" class="form-control" name="User" placeholder="example: Mr umoru"#}
{#                                   id="User">#}
{#                        </div>#}
                        {% include 'includes/_form.html' with form=event_form %}
                        <hr>

                        <div class="col-md-12">
                            <h5 class="heading-uppercase text-center">Item</h5>
                        </div>

{#                        <div class="form-group">#}
{#                            <label for="item_name">Item name</label>#}
{#                            <input type="text" class="form-control" name="item_name" placeholder="Item name"#}
{#                                   id="item_name">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="item-quantity">Quantity</label>#}
{#                            <input type="number" min="0" class="form-control" name="quantity" placeholder="0"#}
{#                                   id="item-quantity">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="Unit_type">Unit type</label>#}
{#                            <input type="text" class="form-control" name="unit_type" placeholder="example: meters"#}
{#                                   id="Unit_type">#}
{#                        </div>#}

                        {% include 'includes/_form.html' with form=item_form %}
                        {% include 'includes/_form.html' with form=inventory_form %}

                        <button type="submit" class="btn btn-noradius m-0">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>

        $('[type=submit]').on('click', function () {

            $('form').submit(function (event){
               //stop form from submitting regularly
               event.preventDefault();
            });

            //get action
            let actionFile = $('form').attr('action');

            //Serialize form control values to be sent to the server
            let formValues = $('form').serializeArray();
            formValues.push({name: 'csrfmiddlewaretoken', value:$('input[name=csrfmiddlewaretoken]').val()});

            //Send the form data using post
            $.post(actionFile, formValues)
            .done(function(success){
                alert("Submit success!.");
            })
            .fail(function(error){
                alert(error.responseJSON.details);
            });
        });

    </script>
{% endblock %}
