{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
    <title>Events</title>
{% endblock %}

{% block head %}
    <style>
        .hidden {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}

    {% include 'layout/header.html' %}
    <section class="section">
        <div class="container">

            <h4 class="heading-uppercase text-center mb-50">Event</h4>
            <div class="row mb-80">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date added</th>
                            <th>Username</th>
                            <th>Task</th>
                            <th>Item</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>1</th>
                            <td>24/04/2021</td>
                            <td>le.wole</td>
                            <td>
                                <details>
                                    <summary style="color: brown;">
                                        <strong>Install camera</strong>
                                    </summary>
                                    <table>
                                        <tr>
                                            <th>
                                                Deadline:
                                            </th>
                                            <td>
                                                26/04/2021
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                User:
                                            </th>
                                            <td>
                                                Mr Umoru
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Status:
                                            </th>
                                            <td>
                                                Completed
                                            </td>
                                        </tr>
                                    </table>
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary style="color: brown;">
                                        <strong>Cable</strong>
                                    </summary>
                                    <table>
                                        <tr>
                                            <th>
                                                Quantity:
                                            </th>
                                            <td>
                                                200
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Unit type:
                                            </th>
                                            <td>
                                                meters
                                            </td>
                                        </tr>
                                    </table>
                                </details>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <input type="button" onclick="AddEvent();ChangeName()" value="Add new data" id="myButton1">

                    <iframe id="test" style="border: none;" height="494" width="1100"
                            src="{% url "website.add_event" %}" class="hidden"></iframe>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        function AddEvent() {
            $('iframe').toggleClass('hidden')
        }

        function ChangeName() {
            var buttn = document.getElementById("myButton1");
            if (buttn.value === "Close") {
                buttn.value = "Add new table";
            } else {
                buttn.value = "Close";
            }
        }
    </script>
{% endblock %}
