<!DOCTYPE html>
<html lang="en-US" class="no-js">
	
<head>
	
		<title>Mul-T-lock | login</title>
		
		<!-- META DATA -->
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Inventory">
		<meta name="author" content="Adetifa Oluwole Emmanuel">
		
		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
			
	</head>
	<body class="smooth-scroller">
	
		<div id="preloader">
			<div id="loading-animation"></div>
		</div>
		
		<div class="main-container">
		
			<div id="top"></div>
		
			
			<!-- .main-header end -->

			<section id="login" class="intro-section fullscreen-element">
				<div class="overlay">
					<div class="overlay-wrapper">
						<div class="overlay-inner cover-background" style="background-image: url('images/index-image-1.jpg');"></div> <!--url('{%static "images/inde-image-1.jpg"%}') -->
						<div class="overlay-inner background-indigo opacity-90"></div>
					</div>
				</div>
				<div class="table-container">
					<div class="table-content">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-4">
								
									<div class="background-white p-30">
										<h3 class="heading-uppercase text-center mb-40">Login to itinerary</h3>
										<form class="mb-0">
											<input type="name" id="inputname" class="form-control input-border-bottom" placeholder="Username" required>
											<input type="password" id="inputPassword" class="form-control input-border-bottom" placeholder="Password" required>
											<button class="btn btn-border btn-noradius btn-fullwidth m-0" type="submit">Sign in</button>
											<div class="row">
												<div class="col-md-6">
													<div id="remember" class="checkbox mb-0">
														<label>
															<input type="checkbox" value="remember-me"> Remember me
														</label>
													</div>
												</div>
												<div class="col-md-6">
													<a href="#" class="display-block text-right mt-10">Forgot password?</a>
												</div>
											</div>
										</form><!-- /form -->
									</div><!-- /card-container -->
																		
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
					
			<a class="backToTop scrollto" href="#"><i class="fa fa-angle-up"></i></a>
			
		</div>

		<!-- JS -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/plugins.js"></script>

		<script type="text/javascript" src="js/main.js"></script>

	</body>

</html>