{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    <title> {{ setting.name }} | login</title>
{% endblock %}
<body class="smooth-scroller">

<div id="preloader">
    <div id="loading-animation"></div>
</div>

<div class="main-container">

    <div id="top"></div>

    <section id="login" class="intro-section fullscreen-element">
        <div class="overlay">
            <div class="overlay-wrapper">
                <div class="overlay-inner cover-background"
                     style="background-image: url('{% static "images/index-image-1.jpg" %}');"></div>
                <!--url('{%static "images/index-image-1.jpg"%}') -->
                <div class="overlay-inner background-indigo opacity-90"></div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">

                            <div class="background-white p-30">
                                <h3 class="heading-uppercase text-center mb-40">Login to itinerary</h3>
                                <form class="mb-0">
                                    <input type="name" id="inputname" class="form-control input-border-bottom"
                                           placeholder="Username" required>
                                    <input type="password" id="inputPassword" class="form-control input-border-bottom"
                                           placeholder="Password" required>
                                    <button class="btn btn-border btn-noradius btn-fullwidth m-0" type="submit">Sign
                                        in
                                    </button>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="remember" class="checkbox mb-0">
                                                <label>
                                                    <input type="checkbox" value="remember-me"> Remember me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" class="display-block text-right mt-10">Forgot password?</a>
                                        </div>
                                    </div>
                                </form><!-- /form -->
                            </div><!-- /card-container -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="backToTop scrollto" href="#"><i class="fa fa-angle-up"></i></a>

</div>